.nothing {
  margin: 0 auto;
  margin: 0.5em;
}

.wrapper {
  width: 100%;
  height: auto;
  margin: 0.5em;
  border: 0.2em solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatarBlock {
  position: relative;
  width: 50%;
  height: 20vh;



}

.avatarBlock h1 {
  position: absolute;
  font-size: 1.5em;
  font-weight: 800;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -95%);

}

.imgWrapper {
  position: absolute;
  max-width: none;
  min-width: auto;
  min-height: auto;
  width: 6.8em;
  height: 6.8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.2em solid grey;
}

.textBlock {
  width: 40%;

}

.textBlock ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

.textBlock ul h4 {
  font-weight: 600;
}

.textBlock li {
  margin-top: 0.2em;
  padding-left: 0.7em;
  font-size: 0.8em;
}
