.wrapper {
  width: 500px;
  height: auto;
  margin: 0.5em;
  border: 0.2em solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatarBlock {
  width: 60%;
  text-align: center;
}

.avatarBlock h1 {
  font-size: 2em;
  font-weight: 800;

}

.avatarBlock img {
  width: 90%;
  height: auto;
  background-color: blanchedalmond;

}

.textBlock {
  width: 40%;

}

.textBlock ul {
  margin-top: 1em;
}

.textBlock ul h4 {
  font-weight: 600;
}

.textBlock li {
  margin-top: 0.2em;
  padding-left: 1em;
}
