@import url('https://fonts.googleapis.com/css?family=Lato|Libre+Caslon+Text&display=swap');

.Loader {
  margin: 0 auto;
  margin-top: 2em;
}

.wrapper {
  width: 100%;
  height: 70vh;
  margin-top: 2em;
  border: 0.2em solid grey;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgWrapper {
  width: 65%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}

.imgWrapper img {
  position: absolute;
  min-width: auto;
  min-height: auto;
  width: 90%;
  max-width: 30em;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.2em solid grey;
  border-radius: 0.5em;

}

.textBlock {
  width: 35%;
  min-height: 30vh;
}

.textBlock h1 {
  font-size: 3em;
  font-weight: 800;
  font-family: 'Libre Caslon Text', serif;
}

.textBlock ul {
  margin-top: 1em;
}

.textBlock ul h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;

}

.abilities li {
  margin-top: 0.5em;
  padding-left: 0.5em;
  font-size: 1.1rem;
}

.stats li {
  margin-top: 0.5em;
  padding-left: 2em;
  font-size: 1.1rem;
}
