@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');


body {
  background: radial-gradient(ellipse at center, #f9fcf7 0%, #f5f9f0 100%);
}

.mainWindow {
  width: 100%;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

.section {
  width: 65%;

}

@media (min-width: 960px) and (max-width: 1200px) {
  .section {
    width: 80%;

  }
}


@media (min-width: 768px) and (max-width: 1060px) {
  .section {
    width: 90%;

  }
}




@media (min-width: 320px) and (max-width: 768px) {
  .section {
    width: 95%;

  }
}
