@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

.mainWindow {
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  background: radial-gradient(ellipse at center, #f9fcf7 0%, #f5f9f0 100%);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

.section {
  width: 65%;
  margin: 0 auto;
}
