.btnWrapper {
  width: 30%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  display: inline-block;
  min-width: 7em;
  height: 4vh;
  border: 0;
  padding: 0.5em 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  border-radius: 0.2em;
  background-color: #dddddd;
  transition: all 200ms ease;
  font-family: inherit;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  color: rgb(15, 15, 15);
  cursor: pointer;
}

.button[disabled] {
  pointer-events: none;
  background-color: #7c8c9b;
  color: white;
}

.button:hover,
.button:focus {
  background-color: #aa9e2f;
  color: white;
}
