.wrapper {
  width: 500px;
  height: auto;
  margin: 0.5em;
  border: 0.2em solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.namesPokemon {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
}

.name {
  width: 30%;
  height: 5vh;
  margin-top: 1em;
  border: 0.1em solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name h3 {
  text-align: center;
}

.name p {
  font-size: 0.2em;
}

.btnWrapper {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
