.wrapper {
  width: 300px;
  margin: 30px 30px;
  padding: 10px;
  border: 2px solid grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.wrapper h3 {
  margin-right: 5px;
}
